* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.w144 {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

body {
    background: #f5f5f5;
}

.nav {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

.nav-content {
    width: 1140px;
    margin: 0 auto;
}

.nav img {
    height: 40px;
    padding: 10px 0;
    float: left;
}

.nav-links {
    float: right;
}

.nav a {
    float: left;
    line-height: 20px;
    padding: 5px 15px;
    margin: 15px 10px;
    font-weight: 700;
    font-size: 13px;
    background: #eee;
    border-radius: 100px;
}

.nav a:hover {
    background: #ddd;
    color: #000;
}

.home {
    margin-top: 60px;
}

.banner {
    height: 600px;
    width: 100%;
    background-color: #000;
    background-image: url(banner-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    /*background: linear-gradient(to right, #29323c, #485563);*/
}

.banner-content {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    padding: 250px 0;
    text-align: center;
    color: #fff;

}

.banner-content h1 {
    font-weight: 300;
}

.banner-content h3 {
    font-weight: 300;
}

.about {
    height: 700px;
}
